<h1>Books</h1>

<%= link_to "New book", new_book_path %>

<% if @books.any? %>
  <div id="books">
    <% @books.each do |book| %>
      <div>
        <%= link_to book.title, book %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You have no books.</p>
<% end %>